# Ignore virtual environments
recommendation_service/venv/

# Ignore client-side dependencies
client/node_modules/
client/.pnp
client/.pnp.js

# Ignore server-side dependencies
server/node_modules/

# Ignore build and output directories
client/build/
server/dist/

# Ignore model and large data files in recommendation_service
recommendation_service/model/df
recommendation_service/model/similarity
recommendation_service/*.pickle

# Ignore environment files
*.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

# Ignore OS and miscellaneous files
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
